.Navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-color: rgb(244, 139, 139);

  // &__Img {
  //   background-color: red;
  // }
  &__picture1 {
    align-items: center;
  }
  &__picture2 {
    width: 100px;
    height: 100px;
  }
}

.Reservation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(87, 192, 248, 0.89);
  align-items: center;
  margin: 10px;
}
