.Footer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__About {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 3px;
    background-color: rgb(120, 120, 238);
  }

  &__About1 {
    align-items: center;
    display: flex;
    margin-right: 5px;
  }

  &__Contact {
    align-items: center;
    display: flex;
    margin-left: 5px;
    padding-right: 3px;
  }

  &__Flowers {
    align-items: center;
  }
}
